<footer class="bg-secondary">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-4 text-light">
				<p>Info Entreprise</p>
			</div>
			<div class="col-4 text-light">
				<p>Moyens de contacte</p>
			</div>
			<div class="col-4 text-light"><p>Copyright</p></div>
		</div>
	</div>
</footer>