<footer class="bg-secondary">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-4 text-light justify-content-center">Info Entreprise</div>
			<div class="col-4 text-light">Lien réseau sociaux</div>
			<div class="col-4 text-light">Copyright</div>
		</div>
	</div>
</footer>