
/* Info */

.info {
	background-color: red;
	color: black;
}

/* Balise */

header {
	/*margin: 5px, 10px, 5px, 10px;*/
	margin-top: 10px;
	margin-right: 5px;
	margin-bottom: 10px;
	margin-left: 5px;
	/*padding: 5px, 10px, 5px, 10px;*/
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
}

footer {
	/*margin: 5px, 10px, 5px, 10px;*/
	margin-top: 10px;
	margin-right: 5px;
	margin-bottom: 10px;
	margin-left: 5px;
	/*padding: 5px, 10px, 5px, 10px;*/
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
}


/* Étoiles */

.star_checked {
	color: #ebf100;
	font-size: 150%;
}

.star_not_checked {
	color: grey;
	font-size: 150%;
}


/* Formulaire */

.form-div-button {
	margin-top: 10px;
	margin-bottom: 10px;
}

.form-div {
	margin-top: 5px;
	margin-bottom: 5px;
}

.pagination {
	margin-top:10px;
	margin-bottom: 10px;
}

.div-button {
	margin-top: 10px;
	margin-bottom: 10px;
}


/* Titre */

.div-title {
	margin-top: 30px;
	margin-bottom: 10px;
}

.under_title {
	margin-top: 20px;
	margin-bottom: 20px;
}


/* Image */

.row_image {
	width: 280px;
	height: 280px;
	padding-left: 10px;
	padding-right: 10px;
}


/* Case spécifique */

.show_product-row {
	margin-top: 20px;
	margin-bottom: 20px;
}

.case_product {
	margin-top: 5px;
	margin-bottom: 5px;
	/*margin-right: 5px;*/
	/*margin-left: 5px;*/
	width: 300px;
	height: 300px;
}

.show_product-row-comment {
	margin-top: 20px;
	margin-bottom: 20px;
}

.store_user_commands-row-comment {
	margin-top: 30px;
	margin-bottom: 30px;
}

.store_user_commands-row-command {
	margin-top: 20px;
	margin-bottom: 20px;
}

.store_user_info-col {
	margin-top: 10px;
	margin-bottom: 10px;
}
