<header class="bg-secondary">
	<div class="container">
		<div class="row justify-content-between">
			<div class="col-8">
				<a href="{{ path("store") }}"><button class="btn btn-info">Magasin</button></a>
				{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
					<a href="#"><button class="btn btn-info">Historique</button></a>
					<a href="{{ path('store_user') }}"><button class="btn btn-info">Mon compte</button></a>
				{% endif %}
			</div>
			<div class="col-2">
				{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
			    	<a href="{{ path('app_logout') }}"> <button class="btn btn-primary">Déconnexion</button></a>
				{% else %}
				    <a href="{{ path('app_login') }}"><button class="btn btn-primary">Connexion</button></a>
				{% endif %}
			</div>
		</div>
	</div>
</header>
