{% extends 'base.html.twig' %}


{% block title %} Commentaires {% endblock %}


{% block body %}
	<div class="row">
		<div class="offset-2 col">
			<h1>Vos commentaires.</h1>
		</div>
	</div>
	
	<div class="row">
		<div class="col-8 offset-2">
			{% for comment in comments %}
				<div class="row store_user_commands-row-comment">
					<div class="col">
						<div class="row">
							<div class="col">
								<h4>
									{{ comment.product.name }}
									<a class="btn btn-primary" href="{{ path("store_product", {code:comment.product.code})}}">Voir</a>
								</h4>
							</div>
						</div>
						{% include 'structure/store/case_comment.html.twig' with { 'comment' : comment, 'show_user' : false } %}
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
