{% extends 'base.html.twig' %}

{% block title %} Site marchand {% endblock %}

{% block body %}

	<div class="row justify-content-center div-title">
		<h1>Site marchand.</h1>
	</div>

	<h2 class="under_title">Les Actualité.</h2>

	<div class="row">
		<div class="col offset-1">A ajouter.</div>
	</div>

	<h2 class="under_title">Nos produits.</h2>

	<div class="row offset-1 div-button">
		<a href="{{ path("store_products") }}"><button class="btn btn-primary">Catalogue</button></a>
	</div>

	<div class="row row-cols-3">
		{% if products is not empty %}
			{% for product in products %}
				{% include 'structure/store/case_product.html.twig' with { 'product' : product } %}
			{% endfor %}
		{% endif %}
	</div>

	<h2 class="under_title">Les Promotions.</h2>

	<div class="row">
		<div class="col offset-1">A ajouter.</div>
	</div>


{% endblock %}
