{% extends 'base.html.twig' %}


{% block title %} Mail envoyé {% endblock %}


{% block body %}

	<div class="row">
		<div class="col">
			<h2>Mail envoyé.</h2>
		</div>
	</div>

	<div class="row">
		<div class="col">
			<p>{{ username }}, le mail de changement de mot de passe à été envoyé à l'adresse mail {{ email_address }}.</p>
		</div>
	</div>

{% endblock %}

